apiVersion: v1
kind: Service
metadata:
  name: {{.ServiceName}}
  labels:
    app: {{.ServiceName}}
spec:
  type: ClusterIP
  ports:
  - port: {{.Port}}
    targetPort: {{.Port}}
    protocol: TCP
  selector:
    app: {{.ServiceName}}
